body {
  color: #fff;
  background: fixed url('../images/theme-bg.png') center center/100% 100% no-repeat;
}

.pager-wrapper {
  @apply py-2 color-content;
  .el-pagination {
    @apply color-content;
    .btn {
      &-prev,
      &-next {
        @apply bg-transparent color-content;
      }
    }
    button {
      &:disabled {
        @apply bg-transparent color-info;
      }
    }
    li {
      @apply bg-transparent;
      &.active {
        @apply bg-primary/50 rounded;
      }
    }
    &__total {
      @apply color-content;
    }
  }
}

.select {
  &-wrapper {
    @apply w-30;
    .el-select {
      .el-input__inner,
      .el-select-dropdown__item.is-disabled:hover {
        @apply bg-transparent;
      }
      .el-input__inner {
        line-height: 2rem;
        height: 2rem;
        @apply border-primary color-white;
      }
      .el-input__suffix {
        @apply flex items-center;
      }
    }
  }
  &-dropdown-wrapper {
    @apply ring-blue/90 border-primary color-black;
    &.el-select-dropdown {
      background-color: var(--un-ring-color) !important;
      @apply border-primary;
      .el-select-dropdown__item {
        @apply color-white;
      }
      .el-select-dropdown__item.selected {
        @apply color-warning;
      }
      .el-select-dropdown__item.hover,
      .el-select-dropdown__item:hover {
        @apply ring-primary;
        background-color: var(--un-ring-color) !important;
      }
    }
  }
}

.date-time-picker {
  &-wrapper {
    .el-date-editor--date {
      .el-input__inner {
        line-height: 2rem;
        height: 2rem;
        @apply border-primary color-white bg-transparent;
      }
      .el-input {
        &__prefix,
        &__suffix {
          @apply flex items-center;
        }
        &__icon {
          line-height: 2rem;
        }
      }
    }
  }
  &-dropdown-wrapper {
    @apply ring-blue/90 border-primary color-black;
    &.el-picker-panel {
      background-color: var(--un-ring-color) !important;
      @apply border-primary;
      .el-picker-panel__icon-btn {
        color: #dcdfe6;
      }
      .el-date-picker__header-label {
        color: #e4e7ed;
      }
      .el-date-table {
        th {
          color: #e4e7ed;
        }
        td {
          &.next-month,
          &.prev-month {
            color: #c0c4cc;
          }
          &.available {
            color: #ebeef5;
          }
          &.today {
            span {
              @apply color-warning;
            }
          }
          &.current {
            span {
              @apply color-danger bg-content;
            }
          }
        }
      }
    }
  }
}

.date-time-picker-dropdown-wrapper,
.popover-poper-wrapper,
.select-dropdown-wrapper {
  &.el-popper {
    @apply ring-blue/90 border-primary color-black;
    background-color: var(--un-ring-color) !important;
    @apply border-primary;
    $placement: top, right, bottom, left;
    @each $p in $placement {
      &[x-placement^='#{$p}'] .popper__arrow {
        &,
        &::after {
          border-#{$p}-color: var(--un-ring-color) !important;
        }
      }
    }
  }
}
