body {
  color: #fff;
  background: fixed url('../images/theme-bg.png') center center/100% 100% no-repeat;
}

.pager-wrapper {
  @apply py-2 color-content;
  .el-pagination {
    @apply color-content;
    .btn {
      &-prev,
      &-next {
        @apply bg-transparent color-content;
      }
    }
    button {
      &:disabled {
        @apply bg-transparent color-info;
      }
    }
    li {
      @apply bg-transparent;
      &.active {
        @apply bg-primary/50 rounded;
      }
    }
    &__total {
      @apply color-content;
    }
  }
}

.select {
  &-wrapper {
    @apply w-30;
    .el-select {
      .el-input__inner,
      .el-select-dropdown__item.is-disabled:hover {
        @apply bg-transparent;
      }
      .el-input__inner {
        line-height: 2rem;
        height: 2rem;
        @apply border-primary color-white;
      }
      .el-input__suffix {
        @apply flex items-center;
      }
    }
  }
  &-dropdown-wrapper {
    @apply ring-blue/90 border-primary color-black;
    &.el-select-dropdown {
      background-color: var(--un-ring-color) !important;
      @apply border-primary;
      .el-select-dropdown__item {
        @apply color-white;
      }
      .el-select-dropdown__item.selected {
        @apply color-warning;
      }
      .el-select-dropdown__item.hover,
      .el-select-dropdown__item:hover {
        @apply ring-primary;
        background-color: var(--un-ring-color) !important;
      }
    }
  }
}

.date-time-picker {
  &-wrapper {
    .el-date-editor--date {
      .el-input__inner {
        line-height: 2rem;
        height: 2rem;
        @apply border-primary color-white bg-transparent;
      }
      .el-input {
        &__prefix,
        &__suffix {
          @apply flex items-center;
        }
        &__icon {
          line-height: 2rem;
        }
      }
    }
  }
  &-dropdown-wrapper {
    @apply ring-blue/90 border-primary color-black;
    &.el-picker-panel {
      background-color: var(--un-ring-color) !important;
      @apply border-primary;
      .el-picker-panel__icon-btn {
        color: #dcdfe6;
      }
      .el-date-picker__header-label {
        color: #e4e7ed;
      }
      .el-date-table {
        th {
          color: #e4e7ed;
        }
        td {
          &.next-month,
          &.prev-month {
            color: #c0c4cc;
          }
          &.available {
            color: #ebeef5;
          }
          &.today {
            span {
              @apply color-warning;
            }
          }
          &.current {
            span {
              @apply color-danger bg-content;
            }
          }
        }
      }
    }
  }
}

.date-time-picker-dropdown-wrapper,
.popover-poper-wrapper,
.select-dropdown-wrapper {
  &.el-popper {
    @apply ring-blue/90 border-primary color-black;
    background-color: var(--un-ring-color) !important;
    @apply border-primary;
    $placement: top, right, bottom, left;
    @each $p in $placement {
      &[x-placement^='#{$p}'] .popper__arrow {
        &,
        &::after {
          border-#{$p}-color: var(--un-ring-color) !important;
        }
      }
    }
  }
}

.table-wrapper {
  .el-table {
    // 背景
    @apply bg-transparent;
    // 边框
    &::before,
    &::after {
      @apply bg-primary;
    }
    & {
      @apply border-primary;
    }
    // 行背景
    tr,
    th.el-table__cell {
      @apply bg-transparent;
    }
    // 行 hover 背景
    &--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
      @apply bg-primary/50;
    }
    // 行边框
    td.el-table__cell,
    th.el-table__cell.is-leaf {
      @apply border-b border-primary;
    }
    &--border .el-table__cell,
    td.el-table__cell {
      @apply border-primary;
    }
    // 文字
    & {
      @apply color-content;
      thead {
        @apply color-white;
      }
    }
  }
}

.el-drawer__wrapper {
  .drawer-wrapper-main {
    @apply bg-primary/70;
  }
}

.el-dialog__wrapper {
  .el-dialog {
    @apply bg-primary/70;
    &__title,
    .el-form-item__label {
      @apply color-content;
    }
    &__headerbtn .el-dialog__close {
      @apply color-content;
    }
  }
}
